* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.titles {
  display: none;
  margin-top: 30px;
  line-height: 30px;
  padding: 20px;
  text-align: center;
}

.grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 415px;
  width: 415px;
  gap: 5px;
}

.card {
  background-color: chocolate;
  height: 100px;
  width: 100px;
  font-size: 80px;
  text-align: center;
}

.start {
  margin-top: 40px;
  text-align: center;
}

.start h3 {
  font-size: 45px;
  color: darkslateblue;
}

button {
  margin: 16px;
  padding: 16px;
  background-color: darkslateblue;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: darkblue;
}

input {
  padding: 5px;
  line-height: 30px;
  text-align: center;
  border: 1px solid darkblue;
}

input:focus {
  font-weight: bold;
  color: chocolate;
}

input {
  caret-color: red;
}
