* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 30em;
  margin: 1em auto;
}

label {
  line-height: 1.5;
}

div:not(:last-child) {
  margin-bottom: 1em;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  padding: 0.5em;
  border: 1px solid #999;
  font-size: inherit;
}

label {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}
